* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style-type: none;
}

li {
  justify-content: space-between;
  width: 5em;
}

a {
  text-decoration: none;
}

#navigation {
  display: flex;
  
}

.nav-bar {
  float: right;
}

.main-head {
  text-align: center;
  position: relative;
  top: 80px;
}
